/* 
	Max width before this PARTICULAR table gets nasty
	This query will take effect for any screen smaller than 760px
	and also iPads specifically.
	*/
	@media 
	only screen and (max-width: $small-screen),
	(min-device-width: $small-screen) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr { 
			display: block !important; 
		}

		table {
			border: none;
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		tr {
			margin-top: emCalc(12px);
			padding-top: emCalc(6px);
			border-top: $hairline;
		}
		
		td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: gridCalc(4, $total-columns) !important; 
		}
		
		td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
		Label the data
		*/
		
		td:nth-of-type(1):before { content: "Swatch"; }
		td:nth-of-type(2):before { content: "Hex"; }
		td:nth-of-type(3):before { content: "CMYK"; }
		td:nth-of-type(4):before { content: "RGB"; }
		td:nth-of-type(5):before { content: "Pantone"; }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	// @media only screen
	// and (min-device-width : 320px)
	// and (max-device-width : 480px) {
	// 	body { 
	// 		padding: 0; 
	// 		margin: 0; 
	// 		width: 320px;
	// 	}
	// }
	
	/* iPads (portrait and landscape) ----------- */
	// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	// 	body { 
	// 		width: 495px; 
	// 	}
	// }