// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// Compass
@import "compass/CSS3";
@import "compass/utilities";

// Custom partials
@import "custom_settings";
@import "modules";

/* ============================================================================================================
   Global styles
   ============================================================================================================ */

img {
  max-width: 100%;
}

/* ============================================================================================================
   Layout & Containers
   ============================================================================================================ */

#wrapper {
  @include grid-row;
  margin: 0;
  left: 0;
}

#menu {
  @include fixed-sidebar($menu-w);
  @extend %top-padding;
  background: $dark-bg;
  
  li {
    list-style: none;
    margin-left: -#{$column-gutter/2};
    margin-right: -#{$column-gutter/2};

    a {
      display: block;
      padding: emCalc(12px) $column-gutter;
      color: $body-font-color;
    }
  }

  .active {
    color: white;
    background: $light-beige;
  }
}

#content {
  @include grid-column($content-w);
  @extend %top-padding;
  //@include grid-row(nest);
  left: gridCalc($menu-w, $total-columns);
  margin-left: 0;
  //padding-left: $column-gutter;
  
  
  h1:first-child {
    margin-top: 0;
  }
}

/* ============================================================================================================
   Menu
   ============================================================================================================ */

#brand {
  display: block;
  margin: 0 auto emCalc(24px) auto;
  padding-right: emCalc(10px);
  max-width: gridCalc(10, $total-columns);
}